<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>omniLatinTool.py</string>
			<key>preferredName</key>
			<string>OmniLatin Tool</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Sharp Type</string>
	<key>developerURL</key>
	<string>http://github.com/SharpType</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<false/>
	<key>mainScript</key>
	<string>omniLatinTool.py</string>
	<key>name</key>
	<string>OmniLatinTool</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>0</string>
	<key>timeStamp</key>
	<real>1740053156.9843757</real>
	<key>version</key>
	<string>1.0.5</string>
</dict>
</plist>
